@font-face {
  font-family: 'harrypotter';
  src: url(../assets/HARRYP__.TTF) format('truetype');
}

.namelogo {
  font-family: Arial, sans-serif;
}

.namelogo .harrypotter {
  font-family: 'harrypotter', Arial, sans-serif !important;
  font-size: xx-large;
  color: rgb(220, 203, 20);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
  
header {
    background-color: #343a40;
    color: white;
    padding: 1em 0;
}
  
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
  
nav ul li {
  margin: 0 1em;
}
  
nav ul li a {
  color: white;
  text-decoration: none;
}
  
main {
  padding: 2em;
  text-align: center;
}
  
.intro {
  max-width: 800px;
  margin: 0 auto;
}
  
footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.homepage {
  background-image: url(../assets/hogwarts.jpg);
  background-position: center;
  background-size: cover;
}


.intro {
  margin: 40px auto;
  font-weight: bolder;
  background-color: #ffffff33;
  text-align: left;
  padding: 5px 30px 20px 30px;
  position: relative; 
  width: 80%;
  border-radius: 20px;
}

.house-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.house-section h3{ /*nombres de casa*/
  font-family: 'harrypotter', Arial, sans-serif !important;
  font-size: xx-large;
  color: white(220, 203, 20);
}

.house-description {
  flex: 0 0 22%;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px 30px 20px 30px;
  border-radius: 10px;
  min-width: 250px;
}

