@font-face {
  font-family: 'harrypotter';
  src: url(../assets/fonts/HARRYP__.TTF) format('truetype');
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-image: url(../assets/images/hogwarts.jpg);
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d4af37;
}

main {
  padding: 2em;
  text-align: center;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.intro h2 {
  font-family: 'harrypotter', Arial, sans-serif;
  font-size: 3em;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.namelogo .harrypotter {
  font-family: 'harrypotter', Arial, sans-serif;
  font-size: 3em;
  color: rgb(220, 203, 20);
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.intro p {
  line-height: 1.6;
}

.house-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.house-description {
  flex: 0 0 45%;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.house-description h3 {
  font-family: 'harrypotter', Arial, sans-serif;
  font-size: 3em;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  letter-spacing: 2px;
}

.house-description p {
  color: #eee;
  line-height: 1.4;
}

.house-description.hufflepuff {
  background-color: #ecb939;
}

.house-description.gryffindor {
  background-color: #740001;
}

.house-description.slytherin {
  background-color: #1a472a;
}

.house-description.ravenclaw {
  background-color: #222f5b;
}
